# ===============================
# 🔐 SECRETE (OBLIGATORIU)
# ===============================
secret_key.py
.env
.env.local

# ===============================
# 🐍 PYTHON – environment & cache
# ===============================
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# ===============================
# ⚛️ FRONTEND – Node / Vite
# ===============================
Front/front/node_modules/
Front/front/.vite/
Front/front/dist/

# ===============================
# 🧠 OS / IDE
# ===============================
.idea/
.vscode/
.DS_Store
Thumbs.db
